{% extends 'webapp/base.html' %}

{% block main %}
<style>
    .progress {
        display: inline-block;

    }
</style>
<div class="panel plugin">
    <h1>单词默写</h1>
    <section class="plugin-panel">
        {% if dictionaries is not empty %}
        <div>
            <table class="table1 middle" width="100%">
                <thead>
                <tr>
                    <th width="30%">标题</th>
                    <th>总词汇量</th>
                    <th>已完成</th>
                    <th>完成度</th>
                    <th width="25%">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for id,dic in dictionaries %}
                <tr>
                    <td>{{dic.title}}</td>
                    <td>{{dic.total}}</td>
                    <td>{{dic.finish}}</td>
                    <td>
                        <div class="progress-group">
                            <span class="progress"><em style="width: {{dic.progress}}%"></em></span>
                            <span class="num">{{dic.progress}}%</span>
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-mini">背单词</button>
                        <button class="btn-white btn-mini ml2">编辑</button>
                        <button class="btn-white btn-mini ml2">删除</button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        没有列表
        {% endif %}
    </section>
    <script>
        var pageData = {"res_path": "{{res_path}}"};
    </script>
    <script src="{{res_path}}dictionaries.js?{{version}}"></script>
    <script src="{{res_path}}main.js?{{version}}"></script>
</div>
{% endblock %}