{% extends 'webapp/base.html' %}

{% block main %}
<div class="panel plugin">
    <h1>选择词典</h1>
    <section class="plugin-panel">
        {% if dictionaries is not empty %}
        <table class="table1 middle" width="100%" id="dic-list">
            <thead>
            <tr>
                <th width="30%">标题</th>
                <th>总词汇量</th>
                <th>已完成</th>
                <th>完成度</th>
                <th width="25%">操作</th>
            </tr>
            </thead>
            <tbody id="dic-list-body">
            {% for dic in dictionaries %}
                {% include sub_twig ~ 'snippets/dic.html' %}
            {% endfor %}
            </tbody>
        </table>
        {% endif %}

        <div class="mt4"><button type="button" class="btn" id="btn-add-dic">添加新词典</button></div>
        <div class="hide">
            <form action="{{res_path}}index.php" enctype="multipart/form-data" class="form-a" id="dic-form" method="post">
                <input type="hidden" name="act" value="saveDic">
                <input type="hidden" name="id" value="0">
                <table class="table-b full">
                    <tr>
                        <th width="50">标题</th>
                        <td><input type="text" name="title" autocomplete="off"></td>
                    </tr>
                    <tr>
                        <th>附件</th>
                        <td><input type="file" name="file"></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td class="td-btn">
                            <button class="btn" type="submit">提 交</button>
                            <button class="btn-white ml4 close" type="button">取 消</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </section>

    <link type="text/css" rel="stylesheet" href="{{res_path}}style.css?{{version}}" />
    <script>
        var pageData = {"res_path": "{{res_path}}"};
    </script>
    <script src="{{JS_PATH}}jquery.form.js?{{version}}"></script>
    <script src="{{res_path}}dictionaries.js?{{version}}"></script>
</div>
{% endblock %}