{% extends 'webapp/base.html' %}

{% block main %}
<h1>单词默写</h1>
<section class="plugin-panel">
    {% if dictionaries is not empty %}
    <div>
        <table class="table1" width="100%">
            <thead>
            <tr>
                <th>标题</th>
                <th>总词汇量</th>
                <th>已完成</th>
                <th>完成度</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for id,dic in dictionaries %}
            <tr>
                <td>{{dic.title}}</td>
                <td>{{dic.total}}</td>
                <td>{{dic.finish}}</td>
                <td>{{dic.progress}}%</td>
                <td>背单词 编辑 删除</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    没有列表
    {% endif %}
</section>
<script>
    var pageData = {"res_path": "{{res_path}}"};
</script>
<script src="{{res_path}}dictionaries.js?{{version}}"></script>
<script src="{{res_path}}main.js?{{version}}"></script>
{% endblock %}