<h1>百词斩单词默写</h1>
<section class="plugin-panel">
    <div class="tab plugin-tab relative">
        <ul class="tab-tags tab-tags-a">
            <li class="tab-tag active" data-cont="1">默写</li>
            <li class="tab-tag" data-cont="2">更新列表</li>
            <li class="tab-tag" data-cont="0" id="btnRestore">恢复备份</li>
            <li class="tab-tag" data-cont="0" id="btnBackups">备份列表</li>
            <li class="tab-tag" data-cont="3">导入导出</li>
            <li class="tab-tag" data-cont="0" id="btnRemoveAll">清空列表</li>
            <li class="tab-tag" data-cont="4">使用说明</li>
        </ul>

        <div class="tab-conts">
            <div class="tab-cont">{% include sub_twig ~ 'dictation.html' %}</div>
            <div class="tab-cont hide">{% include sub_twig ~ 'update.html' %}</div>
            <div class="tab-cont hide">{% include sub_twig ~ 'export.html' %}</div>
            <div class="tab-cont hide">{% include sub_twig ~ 'help.html' %}</div>
        </div>
    </div>
</section>
<link type="text/css" rel="stylesheet" href="{{res_path}}style.css?{{version}}" />
<script>
    var pageData = {"res_path": "{{res_path}}"};
</script>
<script src="{{JS_PATH}}jquery.form.js?{{version}}"></script>
<script src="{{res_path}}wordsList.js?{{version}}"></script>
<script src="{{res_path}}main.js?{{version}}"></script>